<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Nếu file hoặc thư mục tồn tại, thì serve nó trực tiếp
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Nếu không thì redirect về index.html
  RewriteRule ^ index.html [L]
</IfModule>
