################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReviewKhoaHoc/.vs/
/ReviewKhoaHoc/bin/
/ReviewKhoaHoc/obj
/ReviewKhoaHoc/Properties
/dashboard/package-lock.json
